body {
  background-color: #fafafa;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 18px;
}
a,
a:visited {
  /* color: #00376b;
  color: rgba(var(--fe0, 0, 55, 107), 1); */
  text-decoration: none;
  color: #262626;
}

.black_link {
  color: #262626;
  text-decoration: none;
}
/* .main_Navigation {
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
} */
.main_Section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
}
/* .main_Navigation .nav_Container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  padding: 0 20px;
  max-width: 975px;
}
.main_Navigation .logo_Container {
  flex: 1 9999 0%;
}
.main_Navigation .search_Container {
  flex: 0 1 auto;
  height: 28px;
  min-width: 125px;
  width: 215px;
  background-color: #fafafa;
  border-color: #dbdbdb;
  border-style: solid;
  border-width: 1px;
  color: #a5a7aa;
}
.input_Search {
  background-color: #fafafa;
  border-style: none;
}
.main_Navigation .menu_Container {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 0%;
  align-items: center;
}
.main_Navigation .menu_Container .nav_MenuIcon {
  margin-left: 22px;
}
.main_Navigation .nav_Container .logo_Container {
  display: flex;
}

.main_Navigation .nav_Container .logo_Container .logo_image {
  width: 103px;
  height: 29px;
} */

.main_Container {
  display: flex;
  margin: 0 auto;
  max-width: 935px;
  flex-grow: 1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex-flow: row nowrap;
  flex-direction: normal;
  position: relative;
  flex-shrink: 0;
}

.main_Container .main_Section {
  max-width: 614px;
  width: 100%;
  margin-right: 28px;
  font-size: 14px;
}
.main_Container .main_Section .contents {
  margin-top: 30px;
}
.main_Container .main_Section .contents .content {
  border-style: solid;
  border-width: 1px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  color: #262626;
  background-color: white;
  margin-bottom: 60px;
}
.main_Container .main_Section .contents .content .content_Header {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #dbdbdb;
  box-sizing: border-box;
  height: 60px;
  padding: 16px;
}
.main_Container .main_Section .contents .content .content_Header a {
  display: flex;
  align-items: center;
}
.main_Container .main_Section .contents .content .content_Header .user_image,
.main_Navigation .nav_Container .menu_Container .user_image {
  flex-grow: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.main_Container .main_Section .contents .content .content_Header .user_ID {
  flex-grow: 1;
  font-weight: 600;
}
.main_Container
  .main_Section
  .contents
  .content
  .content_Images
  .content_Image {
  width: 100%;
}
.main_Container .main_Section .contents .content .content_Like {
  font-size: 14px;
}
.main_Container .main_Section .contents .content .content_Like button {
  border-style: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}
.main_Container .main_Section .contents .content .content_Like button:focus {
  border: none;
  outline: none;
}

.main_Container
  .main_Section
  .contents
  .content
  .content_Comments
  .write_Comment {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: rgba(var(--ce3, 239, 239, 239), 1);
  display: flex;
  flex-direction: row;
}
.main_Container
  .main_Section
  .contents
  .content
  .content_Comments
  .write_Comment
  .form_Write_Comment {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main_Container
  .main_Section
  .contents
  .content
  .content_Comments
  .write_Comment
  .form_Write_Comment
  .input_Write_Comment {
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
  border-style: none;
  height: 18px;
  background: 0 0;
  border: 0;
  resize: none;
  outline: 0;
  padding: 0;
  flex-grow: 1;
  width: 0;
}
.main_Container
  .main_Section
  .contents
  .content
  .content_Comments
  .write_Comment
  .form_Write_Comment
  .btn_Write_Comment {
  border: 0;
  background: 0 0;
  color: #0095f6;
  width: 42px;
  height: 18px;
  font-weight: 600;
}
.main_Container .main_Section .contents .content .content_Buttons,
.main_Container .main_Section .contents .content .content_Comments_List,
.main_Container .main_Section .contents .content .content_description,
.main_Container .main_Section .contents .content .content_Like,
.content_Date,
.content_MoreComments {
  padding-left: 16px;
  padding-right: 16px;
}
.main_Container .main_Section .contents .content .content_Like,
.main_Container .main_Section .contents .content .content_description {
  margin-bottom: 4px;
}

.main_Container .side_Section {
  max-width: 293px;
  width: 100%;
}

input:focus {
  outline: none;
}
.content_Comments .comment_User,
.content_Description_UserID {
  font-weight: 700;
}
.content_Date {
  font-size: 10px;
  letter-spacing: 0.2px;
  line-height: 18px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.span_MoreComments {
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
}
@media screen and (max-width: 1000px) {
  .side_Section {
    display: none;
  }
}

.side_Section {
  position: absolute;

  max-width: 293px;
  right: 0;
  flex-shrink: 0;
}
.side_Section .user_Info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 30px;
}
.side_Section .user_Info img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 12px;
}
.side_Section .userIDName {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-left: 12px;
  font-size: 14px;
}

.side_Section .userIDName .user_ID {
  font-weight: 600;
}
.side_Section .userIDName .user_Name {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 400;
}

.container_Recommend {
  display: flex;
  flex-direction: column;
}
.container_Recommend .container_Recommend2 {
  margin-top: 12px;

  padding-right: 16px;
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.container_Recommend .container_Recommend2 .span_Recommend {
  color: rgba(var(--f52, 142, 142, 142), 1);
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 18px;
}

.container_Recommend .container_Recommend2 .span_All {
  font-size: 12px;
  line-height: 14px;
}
.side_Section .container_Footer {
  display: flex;
}
.side_Section .container_Footer .span_Right {
  color: rgba(var(--edc, 199, 199, 199), 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  margin-top: 16px;
}
