body {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  margin-top: 50px;
  justify-items: center;
  width: 100vw;
  background-color: #fafafa;
}

.profile_Main .profile_MainContainer {
  max-width: 935px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 0;
  margin: 0 auto 30px;
}

.profile_Main .profile_MainContainer .profile_Header {
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile_Main .profile_MainContainer .profile_Header .profile_UserPicture {
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin-left: 40px;
  display: flex;
  margin-right: 40px;
}
.profile_Main .profile_MainContainer .profile_Header .profile_Info {
  display: flex;
  flex-direction: column;
}
.profile_Main
  .profile_MainContainer
  .profile_Header
  .profile_Info
  .profile_Info1,
.profile_Main
  .profile_MainContainer
  .profile_Header
  .profile_Info
  .profile_Info2,
.profile_Main
  .profile_MainContainer
  .profile_Header
  .profile_Info
  .profile_Info3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.profile_Main
  .profile_MainContainer
  .profile_Header
  .profile_Info
  .profile_Info1 {
  font-size: 28px;
  display: flex;
  align-items: center;
}
.profile_Main
  .profile_MainContainer
  .profile_Header
  .profile_Info
  .profile_Info1
  a {
  display: flex;
  align-items: center;
}
.profile_Main
  .profile_MainContainer
  .profile_Header
  .profile_Info
  .profile_Info2 {
  display: flex;
  flex-direction: row;
}
.profile_Main
  .profile_MainContainer
  .profile_Header
  .profile_UserPicture
  .user_image {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0px solid #000;
}
main .profile_Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_PostsC2,
.profile_FollowersC2,
.profile_FollowsC2 {
  font-weight: 600;
}

.profile_PostsC2,
.profile_FollowersC2,
.profile_FollowsC2 {
  margin-right: 40px;
}

.Container_Profile_Posts {
  display: flex;
  flex-direction: column;
}
.profile_Posts {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
  align-items: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.Container_Profile_Posts .profile_Posts .profile_Post {
  margin-right: 28px;
  cursor: pointer;
  align-items: stretch;
  flex: 1 0 0%;
}
.Container_Profile_Posts .profile_Posts .profile_Post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_Category {
  border-top: 1px solid #dbdbdb;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container_Category .container_LookPosts {
  border-top: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  font-weight: 600;
  border-top: 1px solid #262626;
  height: 100%;
  height: 52px;
  font-size: 12px;
  margin-top: -1px;
}

.btn_Follow {
  margin-left: 20px;
  background-color: transparent;
  border-color: rgba(var(--d69, 0, 149, 246), 1);
  background: #0095f6;
  color: white;
  border-style: solid;
  border-width: 1px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;

  border-radius: 3px;
}
.un {
  margin-left: 20px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  color: rgba(var(--f75, 38, 38, 38), 1);
  border-radius: 4px;
}
.btn_Edit {
  margin-left: 20px;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  font-weight: 600;
  padding: 5px 9px;
  background-color: transparent;
  border-radius: 4px;
}

.txt_UserName {
  font-weight: 600;
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;
  font-size: 16px;
  margin-bottom: 3px;
}
